
<footer>

    <div class="row bg-light bg-dark">
        <div class="col-lg-4 text-center">
            <h5 class="p-2">
                <strong  class="text-light" >Site Haritası</strong>
            </h5>
            <hr class="alert-light" />
            <p><a  class="text-light" href="#">content</a></p>
            <p><a class="text-light" href="#">content</a></p>
            <p><a  class="text-light" href="#">content</a></p>
          
        </div>
        <div class="col-lg-4 text-center">
            <h5 class="p-2">
                <strong class="text-light">Önemli Linkler</strong>
            </h5>
            <hr class="alert-light" />
            <p class="text-light">Tüm Hakları Saklıdır &copy; MyEvernote @DateTime.Now.Year</p>

        </div>
        <div class="col-lg-4 text-center">
            <h5 class="p-2">
               <strong class="text-light">E-Bültek Üyeliği</strong>
            </h5>
            <hr class="alert-light" />
            <div class="col-md-12">
                <div class="input-group">
                    <input  type="text" class="form-control" placeholder="E-Posta adresiniz"/ >
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Gönder</button>
                    </span>
                </div>
            </div>
          
        </div>

    </div>

</footer>